<!-- !DOCTYPE HTML> -->
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9GV2DDDT08"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9GV2DDDT08');
</script>

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:50%;vertical-align:middle">
              <h1>
                Amartya Sanyal
              </h1>
              <p>I will be starting as <b> Assistant Professor in
              Machine Learning </b>in the <a
              href="https://di.ku.dk/english/">
              Department of Computer Science in University of
              Copenhagen</a> from Summer, 2024 and will also be an
              Affiliated Assistant Professor in the  <a
              href="https://www.math.ku.dk/english/">
              Department of Mathematics.</p> 
              <p style="text-align:center">
                <a target="_blank" href="mailto:amartya18x@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/amaryta18x">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=cRLqsyYAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="files/cv.pdf">CV</a> &nbsp;
            </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:70%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/personal.jpg">
            </td>
          </tr>
        </table>
        <br> <table
        style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      
          <tr>
            <p>Till then, I am a postdoctoral fellow at the Empirical Inference
              group in <a href="https://ei.is.mpg.de/"> Max Planck
              Institute for Intelligent Systems, Tubingen </a> where I
              work closely with <a href="https://www.is.mpg.de/~bs">
                Prof. Bernhard Schölkopf </a>. Prior to this, I was a
                postdoctoral fellow at <a
                href="https://ai.ethz.ch/"> ETH Zurich AI Center</a>
                where I worked closely with <a
                href="http://fanny-yang.de/"> Prof.  Fanny Yang </a>.
                I  completed my DPhil (PhD) at the
                <a href="http://www.cs.ox.ac.uk/">Department of
                Computer Science</a>, University of Oxford, funded by
                the <a href="https://www.turing.ac.uk/">Turing
                Doctoral Studentship</a>. I was also a member of the
                <a href="https://torrvision.com/">Torr Vision
                Group</a>. My DPhil advisors were <a
                href="http://www.cs.ox.ac.uk/people/varun.kanade/myindex.html">Varun
                Kanade</a> and <a
                href="https://www.robots.ox.ac.uk/~phst/">
                Philip H.S. Torr</a>. I am also a member of the <a
                href="https://ellis.eu/members"> ELLIS Society</a>.
                </br> 
               </br>
                Prior to that, I completed my undergraduate (B.Tech in
                Computer Science) at the <a
                href="https://www.cse.iitk.ac.in/"> Indian Institute
                of Technology, Kanpur</a>. On various occassions, I
                have spent time at <a href="https://ai.facebook.com/">
                Facebook AI Research (FAIR)</a>, <a href
                ="https://cortex.twitter.com/">
                Twitter Cortex </a>, <a
                href="http://lcsl.mit.edu/#/home"> Laboratory for
                Computational and Statistical Learning</a>, <a
                href="https://mila.quebec/en/"> Montreal Institute of
                Learning Algorithms </a>, and Amazon ML.
              </p>
              <tr>
                <br>
                <br>
            <!-- <td style="padding:2.5%;width:100%;vertical-align:middle"> -->
              <h2 >Job Advertisement</h2>
              <p>
        If you are interested in a PhD position with me, <a href="/hiring/"> see here for more details</a>
            </p>
          <!-- </td> -->
        <!-- </tr>
      </table>
   <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:2.5%;width:100%;vertical-align:middle"> -->
        
        <h2>Research Interests</h2>
        <p>
          I am interested in understanding both theoretical and
          empirical aspects of Trustworthy Machine Learning
          including privacy, robustness, fairness. In
          particular, I am focusing on the impacts that
          inadequate data and computation may have on the
          trustworthiness of ML algorithms, especially under
          adversarial settings, and how one can solve these
          issues with reasonable approximations and relaxations
          including semi-supervised and self-supervised
          learning.
        </p>
        <h2>Current Students</h2>
        <p>
          I am very lucky to be currently working with the following
          students.
          <ol><a href="https://anmolg.me/">Anmol Goel</a> (ELLIS PhD
          Student, Co-advised with <a
          href="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/head_ukp/index.en.jsp">Prof.
          Iryna Gurevych</a>) </ol>
          <ol><a
          href="https://scholar.google.com/citations?user=ZRSfdpIAAAAJ&hl=en">Omri
          Ben-Dov</a> (PhD Student; Co-advised with <a
          href="https://samirasamadi.com/">Dr.
          Samira Samadi</a>) </ol>
          <ol><a
          href="https://scholar.google.com/citations?user=ZRSfdpIAAAAJ&hl=en">Yaxi
          Hu</a> (PhD Student; Advised by <a
          href="https://is.mpg.de/~bs/">Prof.
          Bernhard Schölkopf</a> and <a
          href="https://sml.inf.ethz.ch/group/fannyy/">Prof. Fanny Yang</a>) </ol>
        </p>
      </td>
    </tr>
  </table>  
        <table
        style="width:120%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:0px;">
        <h2> Upcoming/Recent Talks </h2>
        {% assign projects = site.posts | sorted: date | reverse %}
        {% for post in projects %}
        {% for cat in post.categories %}
        {% if cat == 'talk' %}
        {% if post.important == 'new'%}
        <tr>
          <!-- <td style="vertical-align:center;align:left;width:15%"><h4>{{post.date | date: "%B, %Y"}}</h4></td> -->
          <td
            style="padding:0%;width:22%;vertical-align:middle;min-width:120px">
            <em><b>{{post.venue}} </b></em><br>
            {{ post.date | date: "%B %d "
            }}
              <!-- <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            </td>
          <td style="padding:2%;width:78%;vertical-align:middle;align:left">
            <p> <b>{{post.title}} </b></p>
          </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        <br>
        <br>
        </table>
        <br>
        <br>
        <br>
        <br>
        <table
        style="width:120%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:0px;">
          <h2> Recent News </h2>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'career' %}
          {%if post.important == 'new'%}
          <tr>
            <td style="vertical-align:center;align:left;width:15%"><h4>{{post.date | date: "%B, %Y"}}</h4></td>
           
            <td style="padding:1%;width:80%;vertical-align:middle;align:left">
              <h3> {{ post.excerpt }} </h3>
            </td>
            <!-- <td style="padding:0.5%;width:15%;vertical-align:middle;align:right;min-width:120px">
              <img src="{{post.image}}" alt="news image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>
     
       

        <br>
        <br>
        <br>
     
        <h2> Publications</h2>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td
            style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
            <b><em>{{post.shortVenue}}, {{ post.date | date: "%Y"
            }} </em><br>
            <font>{{post.spotlight}}</b> </font>
              <!-- <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.author}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} 
              <strong> {{post.spotlight}} </strong>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">Arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">Proceedings</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
<!--       
        <table style="width:120%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:0px;">
          <h2> All News </h2>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'career' %}
          {% if post.important != 'kill' %}
          <tr>
            <td style="vertical-align:center;align:left;width:15%"><h5>{{post.date | date: "%B, %Y"}}</h5></td>
           
            <td style="padding:0.0%;width:80%;vertical-align:middle;align:left">
              {{ post.excerpt }} 
            </td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <br>
        <br>
        <br>
     

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

