<!-- !DOCTYPE HTML> -->
<html lang="en">

<head>
    <title>{{ page.title }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9GV2DDDT08"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9GV2DDDT08');
</script>

</head>


<html>

<body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tr style="padding:0px">
        <td style="padding:0px">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr style="padding:0px">
              <td style="padding:2.5%;width:50%;vertical-align:middle">
                <h1>
                  Open Positions
                </h1>

                <p>{{page.content}}</p>
 
                </td>
                </tr>
                </table>

                <br><br><br>
                <table style="width:120%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:0px;">
                  <h2> Available Positions </h2>
                  {% for fund in site.pages %}
                  {% for cat in fund.categories %}
                  {% if cat == 'funding' %}
                  {%if fund.important == 'new'%}
                  <tr>
                    <td
                    style="vertical-align:center;align:left;width:25%"><h4>Deadline:
                    {{fund.date | date: "%B %d, %Y"}}</h4></td>
                   
                    <td style="padding:1%;width:70%;vertical-align:middle;align:left">
                      <h3> {{ fund.content }} </h3>
                    </td>
                    <!-- <td style="padding:0.5%;width:15%;vertical-align:middle;align:right;min-width:120px">
                      <img src="{{post.image}}" alt="news image" style="width:auto; height:auto; max-width:100%;" />
                    </td> -->
                  </tr>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </table>
            </td>
            </tr>
            </table>


                </body>
</html>